.main{
  background-color: var(--primary-bg-color);
  width: 100vw;
}
.container {
  width: 70vw;
  margin-top: -20px ;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: white;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url('/newspaper.jpg') center/cover no-repeat;
  background-attachment: fixed; /* optional: gives nice parallax feel */
}
  .heading {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;

  }
  
  .description {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
  }
  
  .subheading {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
  }
  
  .text {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .list {
    padding-left: 20px;
    list-style: none;
  }
  
  .listItem {
    margin: 5px 0;
  }
  